# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
.DS_Store

# Diretórios do sistema
Thumbs.db
.vscode/

# Arquivos de build
dist/
.env

# Dependências do IDE
.idea/
*.iml
